.bg-card-service {

    background: rgba(83,104,114, 0.50)!important;

}
.gradient-custom {
    /* fallback for old browsers */
    background: #4e5265;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(10,23,87,0.8), rgba(90,55,185,0.8));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(10,23,87,0.8), rgba(90,55,185,0.8))
  }

.gradient-custom-white{
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(10,23,87,0.8), rgba(90,55,185,0.8));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(112deg, rgba(255, 255, 255, 0.16) 0.72%, rgba(255, 255, 255, 0.30) 55%, rgba(255, 255, 255, 0.06) 99.28%);
}


.scrollmenu {
    display: flex;
    flex-direction: row-reverse;
    overflow-x: auto;
    scrollbar-width: thin;
    overflow-y: hidden;
    white-space: nowrap;
    gap: 10px;
    padding: 10px;
    scroll-behavior: smooth;
}

.scrollmenu img {
    flex: 0 0 auto; /* чтобы изображения не сжимались */
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #ccc;
}

.mask-custom {
  backdrop-filter: blur(18px);
  background-color: rgba(3,0,168,0.7);
}